# Bonus: Temperature Analysis I

In [179]:
import pandas as pd
from datetime import datetime as dt

In [180]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources/hawaii_measurements.csv').fillna(0)
df['date'].dtype

dtype('O')

In [181]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [182]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397  0.00    73

In [183]:
# Drop the date column
df.reset_index(drop=True)

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397  0.00    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128  0.00    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [184]:
from scipy import stats

In [221]:
# # Filter data for desired months
df.index = pd.to_datetime(df.index, yearfirst=True,format='%Y-%m-%d')
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397  0.00    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128  0.00    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [222]:
# Identify the average temperature for June
june = df[df.index.month == 6]
print(f"avg temp for June: {june['tobs'].mean()}")

avg temp for June: 74.94411764705882

In [223]:
# Identify the average temperature for December
december = df[df.index.month == 12]
print(f"avg temp for December: {december['tobs'].mean()}")

avg temp for December: 71.04152933421226

In [203]:
# Create collections of temperature data
February = df[df.index.month == 2]
print(f"avg temp for February: {February['tobs'].mean()}")
May = df[df.index.month == 5]
print(f"avg temp for May: {May['tobs'].mean()}")
September = df[df.index.month == 9]
print(f"avg temp for September: {September['tobs'].mean()}")

avg temp for February: 69.44223602484472
avg temp for May: 73.68090017311022
avg temp for September: 76.16486486486487

In [224]:
# Run paired t-test
print(stats.ttest_ind(February['tobs'], May['tobs'], equal_var=False))
print(stats.ttest_1samp(February['tobs'], popmean=len(February['tobs'])))

Ttest_indResult(statistic=-49.70879409331894, pvalue=0.0)
Ttest_1sampResult(statistic=-15525.843129876834, pvalue=0.0)

### Analysis